*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container{
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item{
    background: cadetblue;
    border: 1px solid #ffff;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item:nth-of-type(1){
    flex-shrink: 3;
    background-color: coral;
}